.hat-radio-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: #333333;
    font-size: 15px;
    cursor: pointer;
    .hat-radio-box {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #dddddd;
        border-radius: $hat-button-circle;
        &.is-checked {
            border-color: $hat-primary--color;
            background-color: $hat-primary--color;
        }
        &.round {
            border-radius: 50%;
        }
        .hat-radio-inner {
            position: absolute;
            width: 5px;
            height: 10px;
            left: 6px;
            top: 2px;
            content:'';            
            border: 1px solid #ffffff;
            border-left: none;
            border-top: none;
            transform: rotate(45deg);
        }
        .hat-radio-input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    } 
    .hat-radio-label {
        display: inline-block;
        margin-left: 5px;
    }
}