.sidebar-heading
    font-size: 0.9em !important
    font-weight: normal !important
    text-indent: 35px
    color: #5b657b
    margin: 10px 0
.sidebar-heading:hover
    cursor:pointer

.sidebar-group a.sidebar-link 
    padding-left: 4rem !important
.sidebar a
    height: 2.5em;