p.sidebar-heading
    font-size: 1em !important
    color: $textColor !important
    opacity: 1 !important
    font-weight: normal !important
    text-indent: 35px
    margin: 10px 0
    cursor: pointer !important

.sidebar-group a.sidebar-link 
    padding-left: 4rem !important
.sidebar a
    height: 3em;

.theme-default-content
    max-width: 90% !important
    display: flex
    flex-direction: row
    justify-content: space-between
.page-nav
    max-width: 85% !important