p.sidebar-heading
    font-size: 1em !important
    color: $textColor !important
    opacity: 1 !important
    font-weight: normal !important
    text-indent: 35px
    margin: 10px 0
    cursor: pointer !important

.sidebar-group a.sidebar-link 
    padding-left: 4rem !important
.sidebar a
    height: 3em;

.theme-default-content
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: 50px auto
.page-nav
    margin: 0 !important
    max-width: 100% !important
.theme-default-content:not(.custom) > h3
    margin-bottom: 2rem

.theme-default-content:not(.custom)
    max-width: calc(100% - 500px)
    padding-top: 2.8rem;
    margin: 0;
@media (max-width: 1200px)
  .theme-default-content:not(.custom)
        max-width: 100%
.theme-default-content:not(.custom) > table
    display:table
    width:100%
    border-collapse: collapse
    border-spacing: 0
    table-layout: fixed
.theme-default-content:not(.custom) > tr
    width: 100% !important
