$hat-primary--color: #07c160 !default;
$hat-warning--color: #ff976a !default;
$hat-info--color: #1989fa !default;
$hat-default--color: #909399 !default;
$hat-danger--color: #ee0a24 !default;
$hat-disabled-color: rgba(197, 201, 210, 0.9) !default;


$hat-button-small: 44px !default;
$hat-button-mini: 25px !default;
$hat-button-large: 50px !default;
$hat-button-circle: 2px !default;