.hat-notify-fade-enter-active,
.hat-notify-fade-leave-active {
  transition: all 0.3s ease;
}
.hat-notify-fade-enter, .hat-notify-fade-leave-to{
  transform: translateY(-20px);
  opacity: 0;
}
.hat-notify {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto 10px auto;
  padding: 16px 8px;
  line-height: 1;
  overflow: hidden;
  color: #ffffff;
}
.hat-notify-danger {
  background: $hat-danger--color;
}
.hat-notify-primary {
  background: $hat-primary--color;
}
.hat-notify-info {
  background: $hat-info--color;
}
.hat-notify-warning {
  background: $hat-warning--color;
}