.hat-badge-wrapper {
    position: relative;
    display: inline-block;
    .hat-badge-dot,.hat-badge-value {
        position: absolute;
    }
    .hat-badge-value {
        top: -9px;
        right: -13px;
        height: 15px;
        line-height: 15px;
        padding: 0 3px;
        font-size: 12px;
        background-color: #ffffff;
        border-radius: 10px;
    }
    .hat-badge-dot {
        top: -5px;
        right: -5px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}