.hat-tabs-wrapper {
    width: 100%;
    color: #333333;
    border: 1px solid #eeddee;
    .hat-tabs-nav {
        position: relative;
        display: flex;
        flex-direction: row; 
        width: 100%;
        height: 45px;
        overflow-x: scroll;
        line-height: 45px;
        border-bottom: 1px solid #ddd;
        .hat-tabs-nav-item {
            width: 25%;
        }
        .hat-tabs-bar {
            position: absolute;
            bottom: 0;
            width: 25%;
            height: 2px;
            background-color: $hat-primary--color;
        }
    }
    .hat-tabs-content {
        display: flex;
        flex-direction: row;
    }
}